<header>
 <nav class="navbar navbar-expand-sm border-bottom">
   <div class="container">
     <a class="navbar-brand text-success fw-bold" href="/">BudgetBites</a>
     <button
       class="navbar-toggler ms-auto"
       type="button"
       data-bs-toggle="collapse"
       data-bs-target="#navbar-collapse"
       aria-controls="navbar"
       aria-expanded="false"
       aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>
     <div class="collapse navbar-collapse" id="navbar-collapse">
       <ul class="navbar-nav me-auto">
         {{#if user}}
         <li class="nav-item">
           <a class="nav-link" href="/discover">Discover</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="/favorites">Favorites</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="/dashboard">Dashboard</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="/settings">Settings</a>
         </li>
         {{/if}}
       </ul>
       <div class="nav-item me-1">
         {{#if user}}
         <a class="nav-link" href="/logout">Logout</a>
         {{else}}
         <a class="nav-link" href="/login">Login</a>
         {{/if}}
       </div>
     </div>
   </div>
 </nav>
</header>
